List((
    texture_width: 915,
    texture_height: 549,
    sprites: [
        (
            x: 0,
            y: 183,
            width: 244,
            height: 244,
        ),
        (
            x: 0,
            y: 0,
            width: 183,
            height: 183,
        ),
        (
            x: 183,
            y: 0,
            width: 183,
            height: 183,
        ),
        (
            x: 0,
            y: 427,
            width: 122,
            height: 122,
        ),
        (
            x: 366,
            y: 0,
            width: 183,
            height: 183,
        ),
        (
            x: 549,
            y: 0,
            width: 183,
            height: 183,
        ),
        (
            x: 732,
            y: 0,
            width: 183,
            height: 183,
        ),
        (
            x: 0,
            y: 244,
            width: 61,
            height: 61,
        ),
        (
            x: 61 ,
            y: 61,
            width: 61,
            height: 61,
        ),
        (
            x: 244,
            y: 61,
            width: 61,
            height: 61,
        ),
        (
            x: 0,
            y: 427,
            width: 61,
            height: 61,
        ),
        (
            x: 427,
            y: 61,
            width: 61,
            height: 61,
        ),
        (
            x: 610,
            y: 61,
            width: 61,
            height: 61,
        ),
        (
            x: 793,
            y: 61,
            width: 61,
            height: 61,
        ),
    ],
))
